/* general styles */
html, body {
    height: 100%;
    width: 100%;
}

/* padded section */
.pad-section {
    padding: 50px 0;
}
.pad-section img {
    width: 100%;
}

/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* additional sections */
#home {
    background: url(../images/HighresScreenshot00007.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #34495e;
}

#about {
    display: table;
    height: 40%;
    position: relative;
    width: 100%;

}
#end{
    background: url(../images/chaskinoche.JPG) no-repeat center center fixed;
    display: table;
    height: 100px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #34495e;
}
#technology {
    display: table;
    height: 50px;
    position: relative;
    width: 100%;

}
#showcase{
    display: table;
    height: 40%;
    position: relative;
    width: 100%;
    background: url(../images/HighresScreenshot00000.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}
#dmaServices{
    display: table;
    height: 40%;
    position: relative;
    width: 100%;
    color: #ffffff;
}

#portfolio {
    display: table;
    height: 350px;
    position: relative;
    width: 100%;
    background-color:#2980b9 ;
    color: #FFFFFF;
}

#services {
    background-color: #306d9f;
    color: #000000;
}
#services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

#information {
    background: url(../images/UDK%202012-05-01%2023-56-52-30.jpg) no-repeat center center fixed;
    display: table;
    height: 400px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000000;
}
#information .panel {
    opacity: 0.85;
}
.table{

    color: #222222;
}

#google_map {
    height: 500px;
}

footer {
    padding: 20px 0;
}
footer .glyphicon {
    color: #333333;
    font-size: 60px;
}
footer .glyphicon:hover {
    color: #306d9f;
}

aside{
    position: absolute;
    width: 200px;
    height: 500px;
    background: red;
    float: left;
}
section{
    position: absolute;
    left: 200px;
    padding-left: 100px;
    right: 0;
}